[submodule "tui"]
	path = tui
	url = https://github.com/zt281/TycheTUI.git
[submodule "app"]
	path = app
	url = https://github.com/zt281/TycheApp.git
[submodule "core/cpp"]
	path = core/cpp
	url = https://github.com/zt281/TycheCore-CPP.git
[submodule "core/python"]
	path = core/python
	url = https://github.com/zt281/TycheEngine-Python.git
[submodule "modules/ctp-gateway-cpp"]
	path = modules/ctp-gateway-cpp
	url = https://github.com/zt281/ctp-gateway-cpp.git
[submodule "modules/static-data"]
	path = modules/static-data
	url = https://github.com/zt281/static-data.git
